<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project1</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-07T09:50:33Z</date>
		<key>stopTime</key>
		<date>2009-10-07T09:55:35Z</date>
		<key>timeInterval</key>
		<real>356.2560229897499084</real>
	</dict>
	<dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project2</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-06T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-06T09:51:31Z</date>
		<key>timeInterval</key>
		<real>765.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project3</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-05T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-05T09:54:31Z</date>
		<key>timeInterval</key>
		<real>2345.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project4</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-10-03T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-10-03T09:55:31Z</date>
		<key>timeInterval</key>
		<real>53676.2643270492553711</real>
	</dict>
    <dict>
		<key>project5</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-09-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-09-07T09:59:31Z</date>
		<key>timeInterval</key>
		<real>675.2643270492553711</real>
	</dict>
    <dict>
		<key>project5</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-09-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-09-07T09:59:31Z</date>
		<key>timeInterval</key>
		<real>675.2643270492553711</real>
	</dict>
    <dict>
		<key>project6</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-08-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-08-07T09:57:31Z</date>
		<key>timeInterval</key>
		<real>564.2643270492553711</real>
	</dict>
    <dict>
		<key>project6</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-08-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-08-07T09:57:31Z</date>
		<key>timeInterval</key>
		<real>564.2643270492553711</real>
	</dict>
    <dict>
		<key>project6</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-08-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-08-07T09:57:31Z</date>
		<key>timeInterval</key>
		<real>564.2643270492553711</real>
	</dict>
    <dict>
		<key>project6</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-08-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-08-07T09:57:31Z</date>
		<key>timeInterval</key>
		<real>564.2643270492553711</real>
	</dict>
    <dict>
		<key>project6</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-08-07T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-08-07T09:57:31Z</date>
		<key>timeInterval</key>
		<real>564.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project7</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2009-06-01T09:50:25Z</date>
		<key>stopTime</key>
		<date>2009-06-01T09:57:21Z</date>
		<key>timeInterval</key>
		<real>4345.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
    <dict>
		<key>project8</key>
		<string>asdf</string>
		<key>startTime</key>
		<date>2000-01-07T09:30:25Z</date>
		<key>stopTime</key>
		<date>2000-01-07T09:40:51Z</date>
		<key>timeInterval</key>
		<real>123.2643270492553711</real>
	</dict>
</array>
</plist>
